@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --text-color: #e8e8e8;
  --black-color: #1d1d1d;
  --font1: "Montserrat", sans-serif;
  --font2: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition: 600ms ease-in-out;
}
.main-content2{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-content: flex-start;
 
   
}
.picture-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-content: flex-start;
  
    flex-wrap: wrap;
    margin:0px  10rem 0px 10rem;
}

.box-profile{
    height: 30rem;
    width: 20rem;
    background-color:var(--black-color);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: scroll;
    cursor: pointer;
    transition: 600ms ease-in-out;
    
    
}
.box-profile:hover{
    box-shadow: rgba(213, 175, 6, 0.364) 0px 2px 2px;
    transition: 600ms ease-in-out;
   
}
.box-profile::-webkit-scrollbar {
    width: 0px;
}
.box-profile img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,1,1,1)), to(rgba(1,0,1,0)))
}
.profile-text{
    display: flex;
    align-content: center;
    font-size: .8rem;
    display: flex;
    margin: 0px 2rem 1rem 1.3rem;
    flex-direction: column;
    gap: .6rem;
    height: 20%;
    
}
h2{
    color: goldenrod;
}