@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --text-color: #e8e8e8;
  --font1: "Montserrat", sans-serif;
  --font2: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition: 600ms ease-in-out;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}
* {
  scrollbar-width: auto;
  scrollbar-color: #5f5d5f #383838;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #5f5d5f;
  border-radius: 4px;
  border: 3px none #ffffff;
}
body {
  margin: 0;
  padding: 0;

  background-image: linear-gradient(
    to right top,
    #141414,
    #181818,
    #1b1b1b,
    #1e1e1e,
    #222222,
    #242424,
    #252525,
    #272727,
    #272727,
    #282828,
    #282828,
    #292929
  );
  background-attachment: fixed;
}



.container {
  display: flex;
  flex-direction: column;


}
.nav {
  margin-top: 2rem;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  height: 3rem;

  justify-content: space-around;
  z-index: 3;
  width: 100%;
  font-size: 0.7rem;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 500;
}

ul {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  margin-bottom: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 40px 0px;
  margin-left: 2rem;
}
.line {
  height: 0.1rem;
  background-color: gold;
  width: 50%;
}
h3 {
  font-family: var(--font1);
  font-size: 3.4rem;
}

p {
  width: 75%;
  font-family: var(--font2);
  font-weight: 200;
  color: #b1b1b1;
}
button {
  cursor: pointer;
  padding: 1.2rem;
  width: 40%;
  border-radius: 2rem;
  background-color: transparent;
  border: #b1b1b1 1px solid;
  color: var(--text-color);
}
.images {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
  transition: 500ms ease-in-out;
  animation: float 2s infinite;
}


@keyframes float {
	0% {
		filter:drop-shadow(0 0px 0.75rem rgba(8, 8, 8, 0.121));
		transform: translatey(0px);
	}
	50% {
		filter: drop-shadow(0 10rem 0.75rem rgba(8, 8, 8, 0.22));
		transform: translatey(-20px);
	}
	100% {
		filter:drop-shadow(0 0px 0.75rem rgba(8, 8, 8, 0.121));
		transform: translatey(0px);
	}
}
img {
  height: 900px;
  object-fit: contain;
}
.socials {
  position: absolute;
  right: 0;
  margin: 4rem;
  margin-right: 10rem;
  display: flex;
  align-self: flex-end;
  z-index: 2;
  gap: 3rem;
}


.scroll {
  cursor: pointer;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  margin: 4rem;
  margin-bottom: 5rem;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: nowrap;
  transition: 600ms;
  width: 160px;
}
.scroll p {
  
  transform: rotate(-90deg);
}

i{
  transition: 200ms ease-in-out;
  font-size: 1.4rem;
}
i:hover {
  transition: 200ms ease-in-out;
  color:goldenrod;
}

#last {
  margin-top: 400rem;
  float: bottom;
  align-self: flex-end;
}

.hidden{
  Opacity: 0;
  filter: blur(5px);

  transform: translateY(2rem) ;
  transition: 600ms ease-in-out;
}  
.show {
  opacity: 1;
  filter: blur(0);

  transition: 600ms ease-in-out;
  transform: translateY(0);
  transform: translateXx(0);
}
.borger{
  position: absolute;
  right: 0;
  z-index: -4;

  visibility: hidden;
}
.hide{
  cursor: pointer;
  position: absolute;

  z-index: -4;

  visibility: hidden;
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 1200px) {

  .nav{
    justify-content: space-between;
  }
  .logo{
    margin-left: 20%;
  }
  .borger{
    margin-right:  20%;
  }
  .hide,.borger{
    position: relative;
    visibility: visible;
    justify-content: center;
    cursor: pointer;
  }
  ul{
    position: absolute;
    visibility: hidden;
  }

  .text-container{
    margin-left: -4rem;
    width: 70%;
  } 
  .text-container h3{
    font-size: 2rem;
  }
  .images {
    position: absolute;
    z-index: -8;
    height: 90%;
    overflow: hidden;
    width: 100%;

  }
  .main-pic{
    margin-left: 50%;
    height: 50rem;
  }
  .picture-container {
    padding-left: 30px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .nav{
    justify-content: space-between;
  }
  .logo{
    margin-left: 2rem;
  }
  .borger{
    margin-right: 2rem;
  }
  .text-container{
    margin-left: -4rem;
    width: 70%;
  } 
  .text-container h3{
    font-size: 2rem;
  }
  .images {
    position: absolute;
    z-index: -8;
    height: 90%;
    overflow: hidden;
    width: 100%;

  }
  .main-pic{
    margin-left: 10rem;
    height: 40rem;
  }
  .picture-container {
    padding-left: 30px;
    padding-right: 50px;
  }

  .scroll {

    position: fixed;
    z-index: 2;
    float: right;
    left:auto;
    right: 0;
    bottom: 20px;
    margin: 0rem;
    margin-bottom: 5rem;
    margin-left: 20px;
  }



  }


